<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="Country/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?C=1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="Country/([A-Za-z0-9-]+)/?$" />
                    <action type="Rewrite" url="index.php?C={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="Country/([^/\.]+)/services/?$" />
                    <action type="Rewrite" url="services.php?C={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="Country/([^/\.]+)/search/?$" />
                    <action type="Rewrite" url="search.php?C={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="Country/([^/\.]+)/consulting/?$" />
                    <action type="Rewrite" url="consulting.php?C={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="Country/([^/\.]+)/contact/?$" />
                    <action type="Rewrite" url="contact.php?C={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
